<div class="row">
  <div class="col-xl-12">
    <h2>{{plan.title}} <small>{{plan.date}}</small></h2>
  </div>
</div>

<div class="row" *ngFor="let block of plan.blocks">
  <div class="col-sm-12">
    <div class="card mb-3" >
      <div class="card-header">{{block.title}}</div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let step of block.steps">
                {{step.title}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>