<div class="row">
  <div class="col-xl-12">
    <h2>{{plan.title}} <small>{{plan.date}}</small></h2>
  </div>
</div>

<div class="content-section implementation">
<p-dataTable [value]="plan.steps" sortField="sort" rowGroupMode="subheader" groupField="block" expandableRowGroups="true" [sortableRowGroup]="false">

  <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['block']}}</ng-template>
  <p-column field="id" header="ID">
    <ng-template let-col let-step="rowData" pTemplate="body">
        <span>{{step.block}}-{{step.sort}}</span>
    </ng-template>
</p-column>
  <p-column field="title" header="Step"></p-column>
  <p-column field="assignee.group" header="Group"></p-column>
  <p-column field="assignee.name" header="Name"></p-column>

</p-dataTable>
</div>